*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
// list-style: none;
}

h1,h2,h3,h4{
    font-weight: normal;
}



:root{
--primary-color: #191d2b;
--color-black: #000000;
--secondary-color:#0c0c6e;
--color-white:#fff;
--color-yellow:#daa520;

--color-yellow-1:#c99922;
--light-blue-color: #3535a5;

--box-shadow-01: 0 0 5px #0e0d0d, 0 0 5px 0 #0e0d0d;
--color-grey-1:#363535;
--color-grey-2:#575555;
--color-grey-3:#8a8888;
--color-grey-4:#b1aeae;
--color-grey-5:#dfdfdf;

--transparent:rgba(0,0,0,.95)

--transform: translateY(0) scale(1);
--transition: all .5s ease-in-out;

--box-shadow-1: 0 3px 15px #b1aeae;
--box-shadow-2: 0 0 20px rgb(218, 163, 25);
}

.light-mode{
    --primary-color: #dfdfdf;
        --color-black: #000000;
        --secondary-color: #0c0c6e;
        --color-white: #000000;
        --color-yellow: #0c0c6e;
    
        --color-yellow-1:#0e0e85;
        --light-blue-color: #3535a5;
    
        --box-shadow-01: 0 0 5px #0e0d0d, 0 0 5px 0 #0e0d0d;
        --color-grey-1: #000000;
        --color-grey-2: #b1aeae;
        --color-grey-3: #575555;
        --color-grey-4: #b1aeae;
        --color-grey-5: #dfdfdf;

        --box-shadow-1: 0 3px 15px #b1aeae;
            --box-shadow-2: 0 0 20px #3535a5;
}
body{
    background-color: var(--primary-color);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: var(--transition) ;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


a{
    display: inline-block;
    color: inherit;
    font-family: inherit;
}

header{
    min-height: 100vh;
    overflow: hidden;
    color: inherit;

}

section{
    width: 100%;
    min-height:100vh;
    display: absolute;
    top: 0;
    left: 0;
    padding-right: 7rem;

    padding-left: 4rem;

    padding-block: 3rem;

}

.section{
    transform: translateY(-100%) scale(0);
   transition: var(--transition);
   background-color: var(--primary-color);

}


.sec1{
    display: none;
    transform: var(--transform);
    // background-color:blue;


}
.sec2{
    display: none;
    transform: var(--transform);
        // background-color:orangered;
}
.sec3{
    display: none;
    transform: var(--transform);
        // background-color:green;
}
.sec4{
    display: none;
    transform: var(--transform);
        // background-color: gray;
        
}
.sec5{
    display: none;
    transform: var(--transform);
    // background-color: peru;
}

.active {
    display: block;

  animation:scaleAnim 1s forwards ease-in-out;

  @keyframes scaleAnim {

    0%{
        transform: translateY(-100%) scaleY(0);
    }
    
    100%{
        transform: translateY(0) scaleY(1);
    }
    
  }
}

//*controls

.controls-container{
    position: fixed;
    top: 50%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    // text-align: center;
    transform: translateY(-50%);

    .active-btn{
        background-color: var(--color-yellow)!important;
        transition: var(--transition);
        box-shadow:var(--box-shadow-2) ;

        i{
            color: var(--color-grey-5) !important;
         transition: var(--transition);
        }
    }

    .control{
        padding: 1rem;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--color-grey-1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        // box-shadow: var(--box-shadow-1);

        i{
        pointer-events: none;
        color: var(--color-grey-4);

        }

    }
}

.theme-cont{
    position: fixed;
    top: 5%;
    right: 3%;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
background-color: var(--color-grey-1);
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
    transition: transform 100ms ease-in-out;
i{
    font-size: 1.3rem;
    pointer-events: none;
    color: var(--color-grey-5);
    transition: color 100ms ease-in-out;
}

&:active{
    transform: translateY(-3px);

    i{

        color: var(--color-grey-4);
    }
}


}

//*header-contents

.header-contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);

    .left-side{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // grid-row: span 1/2;
        
        .frame{
         width: 90%;
        height: 100%;
        position: absolute;
        transition: var(--transition);
        background-color: var(--color-yellow);
        z-index: -1;
        top: 0;
        left: 0;
        //  border-radius: 10px;
        clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);

        }

        .image-cont{
        border-radius: 20px;
        width: 68%;
        height: 75%;
        transition: var(--transition);
        position: relative;
        margin-left: -2rem;
        background-color: var(--color-black);
        overflow: hidden;
      box-shadow: var(--box-shadow-01) ;

        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition);

        // filter: grayscale(65%);

        &:hover{
            // filter: grayscale(0);
        }
        }
        }
    }

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // grid-row: span 2/3;
    padding-right: 7rem;

    .text-cont{
        width: 100%;
        text-align: start;
        // background-color: orangered;

        h1{
            font-size: 3rem;
              margin: 2.3rem 0;
            font-weight: normal;
            text-transform:capitalize ;
            color: var(--color-white);
            // line-height: 1.6;

            .name{
                color: var(--color-yellow);
            }

        }
        p{
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.6;
            margin: 1.7rem 0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
    }

}


//*About

.about-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4rem;
    padding-bottom: 5rem;

    align-items: start;

    justify-items: start;


.left-about{
    // display: flex;
    align-self: start;
    justify-self:start;
        // grid-column: 1 / 2;
        position: relative;
    .left-cont {
        // background-color: #c99922;
            h3 {
                font-weight: normal;
                font-size: 1.7rem;
                text-transform: capitalize;
            }
    
            p {
                padding-right: 2rem;
                font-size: 1rem;
                padding-block: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                line-height: 1.6;
            }

            ol{
                padding-left: 1.5rem;
            }

           li{
                font-family: Verdana, Geneva, Tahoma, sans-serif; 
            line-height: 1.6;
            font-size: 1rem;
             }

             .btn-cont{
      display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}


        }

        


}


.right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    // grid-column:  2 / span 3;
    gap: 2rem;

    .about-items {
        border: 1px solid var(--color-grey-3);
        box-shadow: var(--box-shadow-01);
        transition: var(--transition);
        border-radius: 10px;

        &:hover {
            cursor: default;
            transform: translateY(-5px);
            border: 1px solid var(--color-yellow-1);
            box-shadow: var(--box-shadow-2);

        }

        .items-cont {
            padding: 1.5rem;

            display: flex;
            flex-direction: column;

            .large-text {
                font-size: 3rem;
                color: var(--color-yellow);


            }

            .small-text {
                padding-left: 3rem;
                font-size: 1.2rem;
                position: relative;
                text-transform: uppercase;
                color: var(--color-grey-3);
                letter-spacing: 2px;

                &::before {
                    content: '';
                    width: 2rem;
                    top: 15px;
                    left: 0;

                    height: 2px;
                    position: absolute;
                    background-color: var(--color-grey-4);
                }

            }
        }

    }


}

}


.my-stats{
    padding-bottom: 3rem;

    .progress-bars{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
// align-items: center;
justify-items: center;
        gap: 2rem;

        .progress-bar{
            display: flex;
            flex-direction: column;
        .progress-title{
        text-transform: uppercase;
        font-weight: 500;
        outline: 1px solid var(--color-yellow-1);
        box-shadow: var(--box-shadow-2);
        width: max-content;
        padding: .2rem;
        // color: var(--color-grey-4);
        border-radius: 5px;
        }

        .progress-cont{
            display: flex;
            align-items: center;

            .progress-text{
                color: var(--color-grey-5);

            }

            .progress{
                width: 100%;
                height: .45rem;
                background-color: var(--color-grey-2);
                margin-left: 1rem;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                position:relative;

                span{
                    position:absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 90%;
                    height: 100%;
                    background-color: var(--color-yellow);

                }
            }
        }
        }
    }
}


.stats-title{
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    padding:3rem 0 ;
position: relative;
    text-transform: uppercase;

    &::before{
        content: '';
        width: 40%;
        height: 1px;
        position: absolute;
        top:0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-grey-3);
    }
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 2rem;
padding-bottom: 3rem;

.timeline-item{
    padding-left: 4rem;
    border-left: 1px solid var(--color-grey-3);
    position: relative;

    .timeline-icon{
        position: absolute;
        margin-left: -65px;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--color-yellow-1);
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            font-size: 1.2rem;

            color:var(--color-grey-5) ;
        }
    }

    .timeline-duration{
        padding: .2rem .5rem;
        background-color: var(--color-grey-2);
        display: inline-block;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;

        border-radius: 15px;
        
    }
    h4{
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.2rem;

        span{
            color: var(--color-grey-3);
            font-size: 1.1rem;
        }
    }

    .duration-text{
    // color: var(--color-grey-4);
    font-size: .9rem;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
}

//* PORTFOLIO

.port-text{
    padding: 2rem 0;
    text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.portfolio-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:3rem;
    gap: 2rem;

    .portfolio-items{
        position: relative;

        .image-cont{
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden;
            border-radius: 15px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .hover-item{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--color-yellow-1);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          border-radius: 15px;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: var(--transition);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

         h4{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            color: var(--color-grey-5);
         }

         .icons-cont{
            display: flex;
            align-items: center;
            justify-content: center;

            .icon{
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--primary-color);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 .7rem;
                cursor: pointer;

                i{
                    font-size: 1.5rem;
                }

                &:hover{
                    background-color: var(--color-white);
                    transition: var(--transition);
    
                    i{
                        color: var(--primary-color);
                     transition: var(--transition);
                    }
            }

            }
         }

        }
        &:hover{
           .hover-item{
               opacity: 1;
        transform: scale(1) rotate(360deg);
        transition: var(--transition);
           }
          
        }
    }
}

//* BLOGS

.blogs-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 3rem;
    gap: 2.3rem;

    .blog{
        position: relative;
        border-radius: .5rem;
        background-color: var(--color-grey-2);
        box-shadow: var(--box-shadow-01);
        transition: var(--transition);

        img{
            filter: grayscale(100%);
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
        }
        &:hover{
        box-shadow: var(--box-shadow-1);
        transition: var(--transition);
        transform: translate(-5px);
        img{
            transform: scale(1.1);
            filter: grayscale(0);
            box-shadow: var(--box-shadow-2);
            transition: var(--transition);
        }
        }

        .blog-text{
            padding: 1.1rem;
            margin-top: -7px;
            border-top: 8px solid var(--color-yellow);
            h4{
                margin-bottom: .7rem;
                font-size: 1.3rem;
                &:hover{
                    color: var(--color-yellow);
                    cursor: pointer;
                }
            }

            p{
                line-height: 1.6;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: .9rem;
            padding-bottom: 1rem;
            }
        }
    }
}

 //*independent-component

 .btn-cont{
    display: flex;
    align-self: flex-start;
    justify-content: center;
 }
 .btn-wrapper{
    display: flex;
    
    border-radius: 30px;
    border: 1px solid var(--color-yellow);
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .btn-text{
    padding: 0 1.5rem;
    // font-size: .7em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-yellow);
    color: var(--color-grey-5);
    // box-shadow:var(--box-shadow-2);
    padding: .5rem;
}

&::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-yellow-1);
    z-index: -1;
    transition: var(--transition);
    transform: translate(100%);

}
&:hover::before{
width: 100%;
color: var(--color-grey-5);
transition: var(--transition);
transform: translate(0);
    

    
}
&:hover{
box-shadow: var(--box-shadow-2);
    transition: var(--transition);
}


 }

 .btn-wrapper:hover{
.btn-text{
 color: var(--color-grey-5);
}
 }

 .main-title{
    text-align: center;

    h2{
        font-size: 3.5rem;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        text-shadow: 1px 2px 2px;
        // letter-spacing: 3px;
        

        .me{
        color: var(--color-yellow);
        }

        .foreground{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-grey-2);
        font-size: 5rem;
        white-space: nowrap;
        letter-spacing: 5px;
        z-index: -1;
        }
    }
 }


 @import './media';